*
{
    box-sizing: border-box;
    outline: 0;
}

body
{
    margin: 0;
    background-color: slateblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .5);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

h2
{
    margin: 0;
    opacity: .6;
    letter-spacing: 2px;
}

#joke
{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn
{
    background-color: rgb(97, 74, 243);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 14px 40px;
    font-size: 16px;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0, .3);
    cursor: pointer;
}

.btn:active
{
    transform: scale(.98);
}